@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@400;500;700&display=swap');

.background{
    position: relative;
    width: 100%;
    height: 100vh;
}

#background{
    position: absolute;
    width: 100%;
    height: 100%;
}

.body{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100vh;
}

.logo {
    flex: 1;
    display: flex;
    padding-right: 4rem;
    align-items: flex-end;
    flex-direction: column;
}        

.wrapper{
    display: flex;

    width: 40rem;
    height: fit-content;

    align-items: center;
    gap: 3rem;
    margin-top: 21rem;
}

.logo #logo {
    width: 12rem;
    height: 21.5rem;
}

.slogan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
    width: fit-content;
    height: fit-content;
}

.slogan p {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--BEIJE);
}

.slide{
    display: flex;
    flex-direction: column;

    width: fit-content;
    height: fit-content;

    margin-top: 9.5rem;
}

.slide .header{
    width: 40rem;
}

.slide .header h6{
    font-size: 3.4rem;
    font-weight: normal;
    font-family: "Pacifico", cursive;
    color: var(--BEIJE);
}

.slide .header p{
    width: 23rem;
    font-size: 2.4rem;
    font-weight: normal;
    font-family: "Abhaya Libre", serif;
    color: var(--BEIJE);
}

.form{
    flex: 1;

    height: 100vh;
    padding: 4rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form .header{
    font-family: "Zen Kaku Gothic Antique", sans-serif;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    color: var(--WHITE);
}

.form .header span{
    font-weight: normal;
    font-size: 1.4rem;
}

.form .header h6{
    font-weight: 500;
    font-size: 2.4rem;
}

.form form{
    display: flex;
    flex-direction: column;
    width: 4.6rem;

    gap: 2.5rem;
    margin-top: 2rem;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38rem;

    padding: 1.5rem 0;
    background: var(--BEIJE);

    font-weight: bold;
    font-size: 1.4rem;
    font-family: "Zen Kaku Gothic Antique", sans-serif;
    color: var(--BLACK);

    border-radius: .5rem;
}