.section {
    display: flex;
    gap: 2rem;
    padding: 2rem 3rem;
    width: fit-content;
    height: fit-content;
    border: 1px solid var(--BROWN);
    border-radius: 0.8rem;
    background: rgba(0, 0, 0, 0.1);
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex: 1 0 45%; 
    box-sizing: border-box;
    gap: 1rem;
  }
  
  .column > * {
    white-space: nowrap;  
    overflow: hidden;     
    text-overflow: ellipsis; 
  }
  
  